$color_gray: #3C4044;
$color_black: black;
$color_peach: #E06666;
$color_red: #B35252;

body {
	padding: 0;
}
.container {
	padding: 2rem 4rem;
	padding: 2rem 4rem;
}
.row {
	margin: 0;
}
.navbar {
	padding: 0px;
	padding: 0rem !important;
}
.head-link {
	font-weight: bold;
}
.add-space {
	margin-bottom: 70px;
}
.custom-a {
	color: $color_gray;
	text-decoration: none;
	&:hover {
		color: $color_black;
		text-decoration: none;
	}
}
.navbar-custom {
	padding-top: 10px;
}
.icon-custom {
	color: $color_peach;
	&:hover {
		color: $color_red;
	}
}
.padding-xtratop {
	padding-top: 4rem;
}
.padding-lesstop {
	padding-top: 3rem;
	margin-left: 0 !important;
}
.padding-lessleft {
	padding-top: 3rem;
}
.padding-littletop {
	padding-top: 1rem;
	font-weight: 900;
}
.padding-zero {
	padding: 0;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.main-img {
	height: 350px;
	background-image: url("main.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.portfolio-img {
	height: 180px;
	border-radius: 5px;
	width: 100%;
}
.little-img {
	height: 100px;
}
.fab {
	font-size: 30px;
}
.fas {
	font-size: 30px;
}
.fabfab {
	font-size: 60px;
}
.text-center {
	text-align: center;
}
.navbar-expand {
	.navbar-nav {
		.nav-link {
			padding-right: 1rem !important;
			padding-left: 0 !important;
		}
	}
}
.capital-letter {
	text-transform: uppercase;
}

main {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 20px;
  transition: background-color 0.2s ease-in;
}

#toggle {
  width: 50px;
  display: flex;
  padding: 5px;
  background-color: #1a202c;
  display: block;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 0px 5px 20px -10px #000000;
  transition: background-color 0.2s ease-in;
  
  .toggle-inner {
    width: 20px;
    height: 15px;
    background-color: white;
    border-radius: 1000px;
    transition: margin-left 0.2s ease-in, background-color 0.2s ease-in;
.portfolio-img
    &.toggle-active {
      margin-left: 20px;
    }
  }
}

.dark-mode {
  color: #fff;
    
  main {
    background-color: #1a202c;
  }

  #getInTouch a, .custom-a {
	color: #fff;
  }
  #getInTouch a {
	color: #E06666;
  }

  img, .main-img, .portfolio-img {
    opacity: 0.9;
  }
  
  #toggle {
    background-color: #fff;

    .toggle-inner {
      background-color: #1a202c;
    }
  }
}


@media only screen and (max-width: 1000px) {
	.container {
		padding: 0.5rem;
		margin: 0.5rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	.portfolio-img {
		height: 170px;
	}
	.add-space {
		margin-bottom: 20px;
	}
	[class*="col-"] {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.align-left {
		text-align: center;
	}
	.align-right {
		text-align: center;
	}
	.main-img {
		height: 200px;
	}
}
