.container {
  padding: 2rem 4rem;
}

.row {
  margin: 0;
}

.container {
  padding: 2rem 4rem;
}

.navbar {
  padding: 0px;
}

.head-link {
  font-weight: bold;
}

.add-space {
  margin-bottom: 70px;
}

.custom-a {
  color: #3C4044;
  text-decoration: none;
  display: block;
}

.custom-a:hover {
  color: black;
  text-decoration: none;
}

.navbar-custom {
  padding-top: 10px;
}

.icon-custom {
  color: #E06666;
}

.icon-custom:hover {
  color: #B35252;
}

.padding-xtratop {
  padding-top: 4rem;
}

.padding-lesstop {
  padding-top: 3rem;
  margin-left: 0 !important;
}

.padding-lessleft {
  padding-top: 3rem;
}

.padding-littletop {
  padding-top: 1rem;
  font-weight: 900;
}

.padding-zero {
  padding: 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.main-img {
  height: 350px;
  background-image: url("/../img/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-img {
  height: 180px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

.little-img {
  height: 100px;
}

.fab, .fas{
  font-size: 30px;
}

.fabfab {
  font-size: 60px;
}

.text-center {
  text-align: center;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 0 !important;
}

.navbar {
    padding: 0rem !important;
}

.capital-letter {
  text-transform: uppercase;
}


@media only screen and (max-width: 1000px) {
  .container {
    padding: 1rem 1rem;
    margin: 0.5rem;
  }

  h2 {
    font-size: 0.7rem;
  }

  .portfolio-img {
    height: 170px;
  }

  .add-space {
    margin-bottom: 20px;
  }


  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .align-left {
    text-align: center;
  }

  .align-right {
    text-align: center;
  }

  .main-img {
    height: 200px;
  }
}
